<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./estylosauro.css">
    <link rel="stylesheet" href="{{url_for('static', filename='./estylosauro.css')}}">
    <title>Document</title>
</head>
<body>
    <header class="header1">
         <div id="logo">
            <a href="index.html"><h1>Auro</h1></a>

         </div>

         <div id="buscador">
            <i class="fa fa-search" aria-hidden="true"></i><input type="text" id="search-input">
         </div>

        <nav id="nav_header">
            <ul>
                <a href="mod_registrate.html"><li>Registrate <i class="b fa fa-angle-down" aria-hidden="true"></i></li></a>
                <li>Iniciar secion <i class="fa fa-angle-down" aria-hidden="true"></i></li>
            </ul>
        </nav>

    </header>
    <nav id="nav_principal">
      <ul>
         <li>escrito1</li>
         <li>escrito2</li>
         <li>escrito3</li>
      </ul>

    </nav>
    
    
    <div class="abajo"> 
      <div class="padre-de-abjo">
         <div id="slider">
            <input type="radio" name="slider" id="slide1" checked>
        <input type="radio" name="slider" id="slide2">
        <input type="radio" name="slider" id="slide3">
        <input type="radio" name="slider" id="slide4">
        <div id="slides">
           <div id="overflow">
              <div class="inner">
                 <div class="slide slide_1">
                    <div class="slide-content">

                       <div class="Mod_Aprendiz">
                            <p>en auro como modo aprendiz podrás buscar proyectos que se adecuen a tus conocimientos y capacidades para luego realizarlos y generar una ganancia económica</p>
                       </div>
                    
                    </div>
                 </div>
                 <div class="slide slide_2">
                    <div class="slide-content">
                       <h2>Slide 2</h2>
                       <p></p>
                    </div>
                 </div>
                 <div class="slide slide_3">
                    <div class="slide-content">
                       <h2>Slide 3</h2>
                       <p></p>
                    </div>
                 </div>
                 <div class="slide slide_4">
                    <div class="slide-content">
                       <h2>Slide 4</h2>
                       <p></p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div id="controls">
           <label for="slide1"></label>
           <label for="slide2"></label>
           <label for="slide3"></label>
           <label for="slide4"></label>
        </div>
        <div id="bullets">
           <label for="slide1"></label>
           <label for="slide2"></label>
           <label for="slide3"></label>
           <label for="slide4"></label>
        </div>
     </div>

  
     <div class="opciones">
        <p><a href="mod_solicitante"><i class="fa fa-hospital-o" aria-hidden="true"></i> Solicitante</a></p>
        <p><a href="mod_aprendiz.html" ><i class="fa fa-user" aria-hidden="true"></i>Aprendiz</p></a>
        <p><a href="mod_portafoleo.html"><i class="fa fa-suitcase" aria-hidden="true"></i>Portafoleo</p></a>
        <p><a href="mod_proyectos.html"><i class="fa fa-laptop" aria-hidden="true"></a></i>proyectos</p>
     </div>
      </div>
        
         <div class="img_central">
            <img src="static/IMG/MY Huellita (3).png" alt="">
         </div> 
   </div>

   <header class="pie">
      <div id="nav_pie">
         <h1>Auro</h1>
      </div>
   </header>
         
</body>
</html>
