<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='./aprendiz.css')}}">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">AURO</a></li>
            <li><a href="#">Busca trabajo</a></li>
            <li><a href="#">Mis proyectos</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
    </nav>
    <main>
        <aside id="lado_izquierdo">
                
                <img src="static/img/foto formul.png" alt="" id="imagen">
                <h2>Felipe <br>Castaño <br>Alvarez </h2>
                <button class = "Busca">Busca trabajo</button>
                <div  class ="ranking">
                    <div class="estrella"></div>
                    <div class="estrella"></div>
                    <div class="estrella"></div>
                    <div class="estrella"></div>
                    <div class="estrella"></div>
                </div> 
                <h2 id = "cop">CO$ 0.00</h2>
                <h2 id = "saldo">saldo actual</h2>
                <h2 id = "curso">0</h2>
                <h2 id = "proyecto">Proyectos en curso</h2>
            </aside>
            <aside id="centro">
                <img src="static/img/campana.png" alt="" id="campana">
                <h2 id="Notificaciones">Notificaciones</h2>
                <button class = "ver">Ver</button>
            <div class="mensaje"></div>
            <div class="mensaje"></div>
            </aside>       
        </aside>
            <div id= "bienvenida">¡Te damos la bienvenida!</div>
        <article id= "lado_derecho">

        </article>
    </main>
    <footer>

    </footer>
</body>
</html>