<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./estylosauro.css')}}">
</head>
<body class="body_registrate">

    <div class="contiene_registrate">

        <div class="parte_izquierda_registrate">
            <img src="/static/IMG/parte_izquierda_registrate.png" alt="">
        </div>

        <div class="registrate_parte_derecha">
            <header class="header_registrate">
                <p>manera en la que deseas registrarte</p>
            </header>
            <div class="contiene_opciones">
                <div class="opciones_registrate">
                    <p>Registrate como solicitante</p>
                    <a href="registro_aprendiz.html"><p>Registrate como Aprendiz</p></a>
                </div>
                <div class="cuadros_registrate">
                    <p>si requieres la creación de algún proyecto puedes realizar la oferta y nos encargaremos de que este sea llevado acabo</p>
                    <p>como modo aprendiz podrás postularte para la creación de proyectos generando una ganancia económica</p>

                </div>
            </div>
        </div>
    </div>
    

</body>
</html>