<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='./portafoleo.css')}}">
    <title>formulario</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">AURO</a></li>
            <li><a href="#">Busca trabajo</a></li>
            <li><a href="#">Mis proyectos</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
    </nav>
    <main>
        <aside id="lado_izquierdo">
            <aside>
                    <img src="static/img/foto formul.png" alt="" id="imagen">
                    <h2>Daniel Sanchez</h2>
                    <img src="static/img/facebook_logo.webp" alt="">
                    <img src="static/img/twiter logo.png" alt="">
                    <img src="static/img/instragram logo.webp" alt="">
                    <img src="static/img/in logo.png" alt="">
            </aside>
            <aside id="centro">
                <img src="static/img/llamar.png" alt="" id = "imagen2">
                    <h3>310 882 2037</h3>
                <img src="static/img/enviando.png" alt="" id="imagen3">
                    <h3>dani@gmail.com</h3>
                <img src="static/img/portafolio.png" alt="" id="imagen4">
                    <h3>Programacion</h3>
            </aside>    
        </aside>
        <article>
            <h1 id="about">About</h1>
        <aside id="cuadro">
            <textarea id="descripcion" placeholder="text"></textarea>
        </aside>
        <aside>
            <h1 id="skills">skills</h1>
        </aside>
        <aside id="web">
            <textarea id="skill1" placeholder="your skill"></textarea>
            <textarea id="descrip1" placeholder="text"></textarea>
            <img src="static/img/codigo.png" alt="" id = "codigo">
        </aside>
        <aside id="photo">
            <textarea id="skill2" placeholder="your skill"></textarea>
            <textarea id="descrip2" placeholder="text"></textarea>
            <img src="static/img/camara.png" alt="" id = "codigo">
        </aside>
        <aside id="app">
            <textarea id="skill3" placeholder="your skill"></textarea>
            <textarea id="descrip3" placeholder="text"></textarea>
            <img src="static/img/software-development.png" alt="" id = "codigo">
        </aside>
        <aside id="ui">
            <textarea id="skill4" placeholder="your skill"></textarea>
            <textarea id="descrip4" placeholder="text"></textarea>
            <img src="static/img/perfil.png" alt="" id = "codigo">
        </aside>
        </article>
    </main>
    <footer>

    </footer>
</body>
</html>