<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./estylos_formu_aprendiz.css')}}">
</head>
<body>

<form action="/add_aprendiz" method="POST">
    <div class= "lado_izquierdo">
        <h1 id="logo">AURO</h1>
        <h3>con oro</h3>

        
        <input type="number" id="num_documento" name="num_documento" placeholder="dijita tu numero de documento" required>
        <hr class="linea">
        <input type="text" id="nombre" name="nombre_aprendiz" placeholder="dijita tu nombre completo" required>
        <hr class="linea">
        <input type="text" id="usuario" name="usuario_aprendiz" placeholder="dijita tu usuario" required>
        <hr class="linea">
        <input type="text" id="carrera" name="carrera_aprendiz" placeholder="dijita tu carrera" required>
        <hr class="linea">
        <input type="number" id="telefono" name="telefono_aprendiz" placeholder="dijita tu telefono" required>
        <hr class="linea">
        <input type="text" id="correo" name="correo_aprendiz" placeholder="dijita tu gmail" required>
        <hr class="linea">
        <input type="password" id="contrasena" name="contrasena_aprendiz" placeholder="dijita tu contrasena" required>
        <hr class="linea">
        <button>Registrarse</button>
    </div>  
</form>





    <div class = "lado_derecho">
        <h1 id = "aprendiz">Aprendiz</h1>
        <img src="static/img/aprendiz.png" alt="">
    </div>
</body>
</html>